@import url('common.css');

.common-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
    text-size-adjust: 0.5em;
}

h3 {
    text-align: center;
    color: #000000;
    text-size-adjust: 0.5em;
}

p {
    text-size-adjust: 5em;
    margin: 0;
    padding: 0;
}

.contact-info {
    padding: 20px;
    text-align: center;
}

.contact-info h2 {
    font-size: 2em; /* Ajustar tamaño de fuente para pantallas pequeñas */
    line-height: 1.5; /* Mejorar la legibilidad */
    word-wrap: break-word; /* Permitir que el texto se ajuste al ancho del contenedor */
    overflow-wrap: break-word; /* Compatibilidad adicional para ajustar texto */
    max-width: 90%; /* Limitar el ancho del texto */
    margin: 0 auto; /* Centrar el texto */
}

.contact-method {
    margin: 20px 0;
}

.contact-method img {
    max-width: 50px; /* Ajustar tamaño de los íconos para pantallas pequeñas */
    height: auto;
}

.contact-method h3 {
    font-size: 2em; /* Ajustar tamaño de fuente */
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 90%;
    margin: 0 auto;
}

.contact-method p {
    margin: 0;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .contact-info h2 {
        font-size: 1.2em; /* Reducir tamaño de fuente en pantallas pequeñas */
        max-width: 95%; /* Aumentar el ancho permitido del texto */
    }

    h1 {
        font-size: 1.5em; /* Reducir tamaño de fuente en pantallas pequeñas */
    }
    
    .contact-method h3 {
        font-size: 1em; /* Reducir tamaño de fuente en pantallas pequeñas */
        max-width: 95%; /* Asegurar que el texto no se salga del contenedor */
    }

    .contact-method img {
        max-width: 40px; /* Reducir el tamaño de los íconos en pantallas pequeñas */
    }
}