@import url('common.css');

body {
    font-family: sans-serif;  /* Changes the font of all text on the page */
    text-align: center;       /* Centers the text on the page */
    margin: 200px;           /* Adds space around the edge of the page */
    padding: 50px;
    background-color: #ffffff; /* Sets a light gray background color */
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%; /* Ensure the header takes the full width */
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.common-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
   
    h1 {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    img {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 480px) {
   
    h1 {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }

    img {
        padding: 5px; /* Adjust padding for smaller screens */
    }
}