@import url('../common.css');

.common-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;  /* Changes the font of all text on the page */
    text-align: center;       /* Centers the text on the page */
    margin: 100px;           /* Adds space around the edge of the page */
    background-color: #f0f0f0; /* Sets a light gray background color */
}
 
h1 {
    color: #333;             /* Sets the heading text color to dark gray */
}
 
p {
    color: #555;             /* Sets the paragraph text color to a medium gray */
}
/* Add this to your style.css file */
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 50px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}




h3 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
 }

h4 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;

}

h5 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;

}




p {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0.5em;
    margin-left: 2em;
    color: black; 
}

h6 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0.5em;
    margin-left: 2em;
    color: black; 
    margin-left: 25%;
    margin-right: 25%;
}



.objetivos-especificos p {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-left: 20px; /* Añade un margen izquierdo para indentación */
    font-size:1em;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    font-size: 0.6em;
}

.left-column, .right-column {
    width: 50%;
}

.right-column {
    border-left: 2px solid #000; /* Adds the vertical line */
    padding-left: 5px;
}

/* Media query for small screens */
@media (max-width: 768px) {

    h1 {
        font-size: 1.7em; /* Reduce font size for smaller screens */
    }

    
    h3 {
        font-size: 1.5em; /* Reduce font size for smaller screens */
        
    }

    h4 {
        font-size: 1.5em; /* Reduce font size for smaller screens */
        
    }

    p {
        font-size: 1.2em; /* Reduce font size for smaller screens */
        word-wrap: break-word; /* Ensure text wraps within the container */
        overflow-wrap: break-word;
        max-width: 95%; /* Ensure text stays within the container */
        margin-left: 15%;
        margin-right: 15%;
    }

    h6 {
        font-size: 1.2em; /* Reduce font size for smaller screens */
        word-wrap: break-word; /* Ensure text wraps within the container */
        overflow-wrap: break-word;
        max-width: 95%; /* Ensure text stays within the container */
        margin-left: 9.8%;
        margin-right: 9.8%;
    }

    .custom-div-style {
        border: 2px solid black; 
        padding: 20px 10px 20px 10px; 
        font-size: 1.2em; 
        margin-left: 5%; 
        margin-right: 5%; 
        background-color: #5c8eb8;
    }

    div {
        font-size: 1.2em; /* Adjust font size for smaller screens */
        margin: 10px; /* Reduce margins for smaller screens */
        padding: 10px; /* Reduce padding for smaller screens */
    }

    img, image {
        max-width: 90%; /* Slightly reduce image size for smaller screens */
    }
}